NODE_ENV=development
PORT=4000
JWT_SECRET=
JWT_EXPIRES_IN=5h
# Local Postgres, see your own local setup for actual credentials
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/addu-seats